@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root {
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --font-1: 'Righteous', cursive;
  --font-2: 'Sarala', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100%;
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  }

  .cabecalho {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .cabecalho-img {
    width: 100%;
    height: 75px;
    min-width: 320px;
  }

  .menu {
    display: flex;
    gap: 32px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.541);
  }

  .menu-item {
    font-family: var(--font-2);
    color:#FFF2E7;
    font-weight: 400;
    font-size: 18px;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 10px;
  }

  .menu-item:hover {
    
    background-color: #ffb09e;
  }

  .conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
    min-width: 300px;
    max-width: 1000px;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .titulo {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
  }

  .subtitulo {
    font-family: var(--font-2);
    font-weight: 400px;
    font-size: 24px;
    color: #ECD6C4;
  }

  .button {
    background-color: #ECD6C4;
    border-radius: 20px;
    border: none;
    box-shadow: 4px  5px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 60px;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 24px;
    line-height: 39.13px;
    color: #2F2325;
  }

  .button:hover {
    background-image: linear-gradient(to right, #e3c1b9, #8E5D52);
  }

  .conteudo-img {
    width: 100%;
    height: 430px;
    min-width: 320px;
  }

  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }

  .cs-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: var(--font-1);
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
    margin-bottom: 16px;
  }

  .cs-p-titulo {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }

  .rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
  }

  .rodape-img {
    width: 100%;
    height: 48px;
    display: block;
    margin: 0 auto;
    min-width: 320px;
  }